p, div {
  white-space: pre-wrap;
}

.article {
  margin-top: 3rem;
}

.tag-badge {
  padding: 0.4em 0.9em;
  font-size: 0.85rem;
  margin: 0 0.2rem;
}

.text-wrap {
  float: right;
  margin: 5px;
  width: 25%;
  height: 25%;
}
